nav {
    font-family: "myriad-pro", sans-serif;
    opacity: 75%;

    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 50px;
    margin-left: 100px;
}
  
.name {
    order: 1;
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: font-size 0.5s ease-in-out;
}
.name:hover {
    /* font-size: 24px; */
    font-weight: bold;
}
  
.links {
    order: 3;
}
  
.links a {
    margin-left: 10px;
    margin-right: 100px;
    color: black;
    text-decoration: none;
    transition: font-size 0.5s ease-in-out;
    width: 100px;

    display: inline-block;
    text-align: center;
}
.links a:hover {
    /* font-size: 24px; */
    font-weight: bold;
}


.description {
    font-family: "myriad-pro", sans-serif;
    text-align: center;
}

.bio {
    font-family: "myriad-pro", sans-serif;
    text-align: center;
    opacity: 85%;
}


hr{
    margin-top: 2.5%;
    width: 80%;
    opacity: 75%;
}

footer{
    padding: 2.5%;
    opacity: 75%;
}
.footerLink {
    color: black;
    text-decoration: none;
    padding: 10px;

}
.footerLink:hover{
    text-decoration: underline;
}

img{
    width:20%;
    border-radius: 15px;
}

img:hover {
    filter: blur(5px);
}

/* .image-container {
    display: inline-block; 
    position: relative;
    align-items: center;
    justify-content: center;
}
  
.text{
    position: absolute;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    font-size: 24px; 
    opacity: 0;
}
.image-container:hover .text{
    opacity: 1;
} */