/* light mode variables */
:root {
    --bg-color: #fff;
    --text-color: #333;
    --position-text-color: navy;
    --card-color: #333;
  }
  
  /* dark mode variables */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #333;
      --text-color: #fff;
      --position-text-color: #4385f5;
      --card-color: #f0f0f0;
    }


  }

  /* dark mode styles */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--bg-color);
      color: var(--text-color);
    }

  }


  /* styles */

  
.description {
    font-family: "myriad-pro", sans-serif;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.bio {
    font-family: "myriad-pro", sans-serif;
    text-align: center;
    opacity: 85%;
}

img{
    width:20%;
    border-radius: 15px;
}

 
 