/* light mode variables */
:root {
  --bg-color: #fff;
  --text-color: #333;
  --position-text-color: navy;
  --card-color: #333;
  --invert: 1;
  --gradient-1: #1E416F;
  --gradient-2: #B4D9E7; 
}

/* dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #fff;
    --position-text-color: #4385f5;
    --card-color: #f0f0f0;
    --invert: 0;
    --gradient-1: #ea5358;
    --gradient-2: #f7ba2b;
  }

}

/* dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .project-card{
    box-shadow: 15px 15px 30px #191919,
              -15px -15px 30px #292929;
  }


}


/* styles */



@media screen and (min-width: 768px) {
  :root{
    --card-width: 500px;
    --text-box-font-size: large;
    --text-box-font-size-h1: larger;
    --font-size: large;
  }
  /* .links a:nth-child(2){
    margin-left: 40%;
  } */
}

/* For screens smaller than or equal to 768px (mobile) */
@media screen and (max-width: 768px) {
  :root{
    --card-width: 250px;
    --text-box-font-size: large;
    --text-box-font-size-h1: large;
    --font-size: small;
  }
}


/* Name and Introduction */

.description {
  font-family: "myriad-pro", sans-serif;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.description h1{
  padding-top: 5%;
}
.position {
  color: var(--position-text-color);
  font-size: var(--font-size);
}
.intro{
  width: var(--card-width);
  line-height: 1.5;
  padding-bottom: 5%;
  font-size: var(--font-size);
}

/* Projects */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Project */
.project-card{
  width: var(--card-width);
  height: var(--card-width);
  background-color: var(--card-color);
  border-radius: 1.5em;
  overflow: hidden;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.25s ease-in-out;
}
.project-1{
  background-image: linear-gradient(to bottom right, var(--gradient-1), var(--gradient-2));
}
.project-2{
  background-image: linear-gradient(to bottom right, var(--gradient-2), var(--gradient-1));
}

.textbox {
  width: var(--card-width);
  height: var(--card-width);
  border-radius: 1em;
  background-color: var(--text-color);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: var(--bg-color);
  z-index: 3;
  justify-content: center;
  align-items: center;
}
.textbox h1 {
  font-size: var(--text-box-font-size-h1);
}
.textbox p {
  margin: 5%;
  font-size: var(--text-box-font-size);
}

.project-card:hover .textbox, .project-card-2:hover .textbox{
  opacity: 75%;
}

.project-card:hover, .project-card-2:hover{
  transform: scale(1.1);
}

.project-card:hover svg {
  filter: blur(10px);
  filter: invert(var(--invert));
}

.spotify-logo {
  width: 35%;
  height: 35%;
  opacity: 85%;
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 1;
  filter: invert(var(--invert));
}

.raspberry-pi-logo {
  width: 35%;
  height: 35%;
  opacity: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: rotate(15deg);
  filter: invert(var(--invert));
}





