/* Navigation bar */

@media screen and (min-width: 768px) {
  .links a:nth-child(2){
    margin-left: 40%;
  }
}

nav {
    font-family: "myriad-pro", sans-serif;
    opacity: 75%;
    display: inline;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
  }
  
    
  .links a {
    color: var(--text-color)black;
    text-decoration: none;
    transition: font-size 0.5s ease-in-out;
    padding: 2.5%;
    display: inline-block;
    text-align: center;
  }
  
  .links a:hover {
    font-weight: bold;
  }

  /* Footer */

hr{
  margin-top: 2.5%;
  width: 80%;
  opacity: 75%;
}
footer{
  padding: 1.5%;
  opacity: 75%;
}
.tag{
  font-size: larger;
  line-height: 1.5;
}
.footerLink {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}
.footerLink:hover{
  text-decoration: underline;
}
